*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    
}
:root{
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    --darkbrown: hsl(25, 47%, 15%);
    --mediumbrown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --ver-pale-orange: hsl(33, 100%, 98%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-family: 'DM Sans', sans-serif;
    background-color: var(--cream);

}

.card{
   
    width: 350px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

   

}

.top-banner{
    background: var(--soft-red);
    border-radius:8px;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-banner .top-banner-left{
    width: fit-content;
    padding: 0.8rem;
}
.top-banner .top-banner-right{
    display: flex;
    align-items: center;
    padding: 0.8rem;
}

main{
background-color: var(--ver-pale-orange);
border-radius: 8px;
padding: 0.4rem;
}
.heading{
    padding: 0.3rem;
}

.graph{
    height: 200px;
}
.footing{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1.5rem 0;
}

.footing .footing-left{
    padding: 0.3rem;
}
.footing .footing-right{
    padding: 0.3rem;
}

.light-gray{
    font-size: small;
    color: var(--mediumbrown);
}
.broken-white{
    color: whitesmoke;
    font-size: small;
}
.line{
    border-bottom: solid gray 0.5px;
    color: black;
}